
$body-background-color: #0A0A0A;
$sidebar-color: #0A0A0A;
$border-color: #4D4D4D;
$body-text-color: #FAFAFA;
$body-heading-color: #FAFAFA;
$nav-child-link-color: #B8B8B8;
$search-background-color: #1A1A1A;
$search-result-preview-color: #B8B8B8;
$link-color: #FF5722;
$btn-primary-color: #FF5722;
$code-background-color: #141414;
$table-background-color: #0A0A0A;
$feedback-color: #E64A19;
$search-result-highlight-color: #FF5722;
